<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app.component.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .alert {
          padding: 20px;
          background-color:#d9edf7;
          color:#31708f;
        }
        
        .closebtn {
          margin-left: 15px;
          color: black;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: rgb(16, 221, 16);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Globe Chat Application</h1>
            <hr>
        </div>

        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <h4 class="alert-heading"><b>Info!</b> This is a real time language translation messaging application. You can select a specific channel and talk to people those are online in that group. This application allows you to send messages in different languages. This application main purpose is to connect people from different background and share their insightful thoughts without language-communication barrier.</h4>
          </div>
          
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" [(ngModel)]="user" class="form-control" id="username"
                        placeholder="Enter your username here">
                        <small id="userHelp" class="form-text text-muted">Your username will display on global chat box.</small>                
                </div>
            </div>
            <div class="col-sm-5">
                <label for="roomInput">Channel</label>
                <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room" placeholder="Pick a channel">
                    <option value="Science">Science</option>
                    <option value="Technology">Technology</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Literature">Literature</option>
                    <option value="Sports">Sports</option>
                    <option value="Religion">Religion</option>
                    <option value="History">History</option>
                    <option value="Politics">Politics</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Writing">Writing</option>
                    <option value="Current Affairs">Current Affairs</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Random">Random</option>

                </select>
            </div>
            
            <div class="col sm-2">
                <div style="margin-top:19px;" class="pull-right">
                    <button type="button" class="btn btn-primary btn-lg" (click)="join()">Join</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="join()">Join</button> -->
                    <button type="button" class="btn btn-secondary btn-lg" (click)="leave()">Leave</button>

                </div>
            </div>
        </div>
    <p></p>
    <p></p>
    <p></p>
    
        <div class="row">
            <div class="well" style="height:500px; padding:15px;">
                <div *ngFor="let item of messageArray">
                    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter your message here">
            </div>
            <div class="col-sm-10">
                <label for="langInput">Language</label>
                <select name="langInput" id="langInput" class="form-control" [(ngModel)]="lang" placeholder="Pick a language">
                    <option value="af">Afrikaans</option>
                    <option value="ar">Arabic</option>
                    <option value="bg">Bulgarian</option>
                    <option value="zh-TW">Chineese</option>
                    <option value="cs">Czech</option>
                    <option value="nl">Dutch</option>
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="gu">Gujrati</option>
                    <option value="hi">Hindi</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="ko">Korean</option>
                    <option value="la">Latin</option>
                    <option value="mk">Macedonian</option>
                    <option value="ne">Nepali</option>
                    <option value="pa">Punjabi</option>
                    <option value="ru">Russian</option>
                    <option value="es">Spanish</option>
                    <option value="ta">Tamil</option>
                    <option value="ur">Urdu</option>
                    <option value="vi">Vietnamese</option>
                    <option value="yo">Yoruba</option>
                    <option value="zu">Zulu</option>

                </select>
            </div>
            <div class="col-sm-2">
                <button type="button"  class="btn btn-success pull-right" (click)="sendMessage()">Send</button>

            </div>
        </div>
    </div>
</body>

</html>