<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app.component.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h1>Globe Chat Application</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" [(ngModel)]="user" class="form-control" id="username"
                        placeholder="Enter username">
                    <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
                </div>
            </div>
            <div class="col-sm-5">
                <label for="roomInput">Choose your country</label>
                <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                    <option value="Indian">India</option>
                </select>
            </div>
            <div class="col-sm-10">
                <label for="langInput">Choose your preferred language:</label>
                <select name="langInput" id="langInput" class="form-control" [(ngModel)]="lang">
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="hi">Hindi</option>
                </select>
            </div>
            <div class="col sm-2">
                <div style="margin-top:19px;" class="pull-right">
                    <button type="button" class="btn btn-primary" (click)="join()">Join</button>
                    <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
                </div>
            </div>
        </div>
    <p></p>
    <p></p>
    <p></p>
        <div class="row">
            <div class="well" style="height:500px; padding:15px;">
                <div *ngFor="let item of messageArray">
                    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter your message here">
            </div>
            <div class="col-sm-2">
                <button type="button" style="align-items: center;" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</body>

</html>